body{
    background-image: url("../images/map.jpg");
    background-size: 100vw;
}

.header_img{
    background-image: url("../images/characters.jpg");
    background-size: contain;
}

#title{
    text-align: center;
    background:red;
    color: whitesmoke;
    margin: 0 0 0 0;
    margin-bottom: 0px;
    font-family: 'Play', sans-serif;
    font-size: 2.5vw;
}

.title_noPadding{
    padding-left: 0%;
    padding-right: 0%;
}
